@import "css/colors.scss";

.con{
    height: 100%;
    text-align: center;
}

.loading{
    margin-top: 36px;
    :global {
        .rs-loader-spin::after {
            border-color: $base transparent transparent;
        }
    }
}