@import "./colors.scss";

html, body{
    height: 100%;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: $grey;
}

::-webkit-scrollbar-thumb {
    background-color: $base;
}


:global{
    #app{
        height: 100%;
        &>div{
            height: 100%;
        }
    }
    .container{
        height: 100%;
    }
    .option-container{
        display: flex;
        padding: 20px 100px;
    }
    .option-main{
        flex: 1 0 auto;
        width: 100%;
        padding: 56px 106px;
    }
}